<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta -->
    <meta name="description" content="{{ metadata.page.desc }}" />

    <!-- OpenGraph Card -->
    <meta property="og:url"                 content="{{ metadata.page.url }}" />
    <meta property="og:title"               content="{{ metadata.page.title }}" />
    <meta property="og:type"                content="article" />
    <meta property="og:description"         content="{{ metadata.page.desc }}" />
    <meta property="og:site_name"           content="{{ metadata.page.title }}"/>
    <meta property="og:locale"              content="en_US" />

    <meta name="twitter:card"               content="summary">

    <title>{{ metadata.first_name}}'s CV</title>
    <link rel="stylesheet" href="./css/styles.css">

    <!-- Umami analytics -->
    <script async src="https://analytics.umami.is/script.js" data-website-id="6ff77222-565c-432f-8668-5c5b225fe414"></script>
</head>
<body class="flex flex-col h-screen mx-auto font-sans print:font-serif print:p-10 print:max-w-none">
    <main class="grow max-w-xs sm:max-w-lg md:max-w-3xl mx-auto">
        {{ content | safe }}
    </main>
    <footer class="self-center py-10 print:hidden">
        <p class="text-base">Made with &#9829, 11ty and Tailwind CSS.</p>
        <p class="text-center text-xs text-gray-400"><a href="https://gitlab.com/b_sage/cv-static-page" class="hover:text-indigo-900" target=_blank>Check out the project on GitLab &#8599;</a></p>
    </footer>
</body>
</html>