---
layout: default
---
<!-- HEADER - Name and contact info -->
<div class="text-center">
  <h1 class="text-4xl text-center text-gray-900 mt-32 print:mt-4 font-mono font-extrabold ">{{metadata.first_name}} {{metadata.last_name}}</h1>
  <p class="text-sm  text-gray-500 mt-3">{{ metadata.location }}</p>
  <p class="text-sm text-gray-500">Tel: &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; | 
    <a href="mailto:{{ metadata.contact.email}}" class="hover:text-indigo-900">{{ metadata.contact.email}}</a> | 
    <a href="{{ metadata.contact.website}}" target="_blank" class="hover:text-indigo-900">{{ metadata.contact.website}}</a> 
  </p>       
</div>

<!-- BLURB -->
<div class="mt-6  text-justify">
  {%- for paragraph in metadata.about_me -%}
  <p class="mt-4 indent-8">
    {{ paragraph}}
  </p>
  {%- endfor -%}
</div>

{%- for paragrah in metadata.body -%}
  <!-- heading -->
  <h2 class="text-xl font-medium mt-8 border-b-2 border-gray-700 "> {{ paragrah.title }}</h2> 
  {%- for field in paragrah.fields -%}
    {% if field.date != "" %} <p class="inline float-right text-sm text-gray-600 text-right mt-2"> {{ field.date}} </p>{% endif %}
    {% if field.subtitle != "" %} <h3 class="font-bold mt-2"> {{ field.subtitle}} </h3> {% endif %}
    
    <ul class="list-disc ml-4 mt-1">
      {%- for f in field.desc -%}
        <li > 
          {% if f.date != "" %} <span class="inline float-right text-sm text-gray-600 text-right font-normal pl-2 "> {{ f.date}} </span>{% endif %}
          {{f.txt}}
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}

{%- endfor -%}